.game-cards-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 20%);
    margin: 20px;

}

.game-cards {
    /* box-shadow: 0px 0px 10px 5px rgba(255, 0, 191, 0.5); */
    width: 80%;
    border-radius: 10px;
    padding: 5px;

    background-color: rgba(184, 28, 145, 0.13);
    border: 2px solid rgba(255, 0, 191, 0.5);

}

#addwatch-btn {
    color: rgb(35, 165, 182);
    background-color: rgba(66, 39, 60, 0.4);
    border: 2px solid rgba(255, 0, 191, 0.5);
    border-radius: 5px;
    padding: 5px;
}