.signup-container {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;

}

.signup-image-container {
    width: 400px;
    box-shadow: 0px 0px 19px 25px rgba(255, 0, 191, 0.5);
}

.signup-form-container {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.input-container {
    width: 300px;
    height: 30px;
    margin: 20px;
    display: flex;
    box-shadow: 0px 0px 9px 5px rgba(255, 0, 191, 0.5);
    border-radius: 10px;

}

h2 {
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(195, 249, 80);
    text-shadow: 2px 2px 3px black;
}

.register-button {
    background-color: blueviolet;
    width: 115px;
    height: 40px;
}

.register-button:hover {
    cursor: pointer;
}