.App-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid rgb(0, 0, 0);

    background-color: #1e0552;
    background-image: linear-gradient(270deg, #381485 0%, #2f6296 67%);

    /* background-color: #2b2444; */

}

#logo {
    width: 150px;
}