/* Universal styling for every page */

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(194, 194, 194);

}

body {
  margin: 0;
  background: no-repeat;
  background-image: url("./images/luxe-bg2.png");
  background-attachment: fixed;
}

.App {
  text-align: center;
}

#navbar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  
  font-size: 20px;
  border: 2px solid rgb(0, 0, 0);
  height: 30px;
  background-color: #1e0552;
  background-image: linear-gradient(270deg, #381485 0%, #2f6296 67%);

/* Optional: Have Navigation bar always be on top of the screen when scrolling down */
  position: sticky;
  top: 0px;

}

a {
  text-decoration: none;
  color: rgb(194, 194, 194);
}

/* Profile CSS */
.profileBox {
  max-width: 900px;
  height: 950px;
  width: 100%;
  padding: 20px;
  display: grid;
  margin-top: 50px;
  margin-left: 490px;
  margin-bottom: 60px;
  border-color: black;
  box-shadow: 0px 0px 11px 29px rgba(0,0,0,0.1);
  background-image: -moz-radial-gradient(blue, rgb(255, 26, 228));
}

.Profilepic {
  display: flex;
margin: 10px;
height: 180px;
}

#ProfilePicture {
  display: flex;
  width: 180px;
  height: 180px;
  margin-left: 40px;
  margin-top: 30px;
  
}

#Userinformation {

  margin-left: 50px;
}


#title {
  color: #ffffff;
}

.buttonLayout {

  margin-left: 290px;
}

#EditButton {
  width: 90px;
  height: 50px;
  border-radius: 10%;
  background-color: #4158D0;

}

.WatchTitle {
  margin-bottom: 280px;
}

#DeleteAccountButton {

  margin-bottom: 20px;
  width: 100px;
  height: 50px;
  border-radius: 10%;
  background-color: #4158D0;
}

/* CheckoutPage */
.checkoutBox {

  max-width: 900px;
  height: 950px;
  width: 100%;
  padding: 20px;
  display: grid;
  margin-top: 50px;
  margin-left: 490px;
  margin-bottom: 60px;
  border-color: black;
  box-shadow: 0px 0px 29px 29px rgba(255, 0, 191, 0.5);

}

.detailBoxes {
  width: 900px;
  
}

.detailBoxes {
  width: 900px;
  
}

.EmailBox {
  box-shadow: 0px 0px 19px 19px rgba(255, 0, 191, 0.6);
  height: 30px;
  margin-top: 50px;
}

.ContactBoxes {

display: flex;
flex-direction: column;  
width: 500px;
padding: 30px;
margin: 40px;
margin-left: 150px;
align-items: start;

}

#inputBox {

  margin: 20px;
  height: 30px;
  width: 200px;
  border-color: black;
  box-shadow: 0px 0px 11px 9px rgba(255, 0, 191, 0.5);

}

.PayButton {

  color: black;
  width: 100px;
  height: 50px;
  border-radius: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: #4158D0;
}