

/* Universal styling for every page */

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  background: no-repeat;
  background-color: #4158D0;
  background-image: linear-gradient(0deg, #4158D0 0%, #C850C0 46%, #ff7072 100%);

}


.App {
  text-align: center;
}


#navbar {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;

  font-size: 20px;

  border: 2px solid rgb(0, 0, 0);
  
/* Optional: Have Navigation bar always be on top of the screen when scrolling down */
  position: sticky;
  top: 0px;

}

.profileBox {
  color: blueviolet;
}